.contents.row
  -@tweets.each do |tweet|
    = render partial: "tweet", locals: { tweet: tweet}
    -#
       左側：部分テンプレート内の変数名（送り先）
       右側：その変数に何を代入するか。（送り元）
       今回の場合、eachメソッドで回したインスタンス変数tweetを代入。
  =paginate(@tweets)
  -# 初期設定のままでは、設定数以上のレコードがないと、この部分が表示されない。

-#
  単体表示（不要カラム削除した為、全てコメアウト中）
  %br
    =@tweet.name
    =@tweet.text
    #{@tweet.text}
    =@tweet.image
  %br
  レコード全ての表示
  %br
