%h1 ユーザー一覧
.profile_list
  %table
    %theader
      %tr
        %th 名前
        %th 性別
        %th 生年月日
        %th 出身
    %tbody
      - @details.each do |detail|
        %tr
          / %td
          /   = link_to current_user.nickname, user_path(user)
          %td
            = detail.gender
          %td
            = detail.birthday
          %td
            = detail.hometown
            #{calculate_age(detail.birthday)}歳
